<div class="visage-timeline-container">
    {{!-- THE RULER (Time Markers) --}}
    <div class="timeline-ruler">
        <div class="ruler-ticks">
            {{#each ticks}}
                <div class="tick top {{#if this.isZero}}zero-anchor{{/if}}" style="inset-inline-start: {{this.position}}%;">
                    <span class="tick-label top">{{this.label}}</span>
                </div>
            {{/each}}
        </div>
    </div>

    {{!-- THE TRACKS --}}
    <div class="timeline-tracks visage-scrollable">
        
        {{!-- VISUAL TRACK --}}
        <div class="timeline-track visual-track">
            <div class="track-header" data-tooltip="{{localize 'VISAGE.Editor.Groups.Foreground'}} / {{localize 'VISAGE.Editor.Groups.Background'}}">
                <i class="visage-icon visual"></i>
            </div>
            <div class="track-lanes" style="height: {{visualHeight}}px;">
                {{#each visualEffects}}
                    <div class="timeline-block" 
                         data-id="{{this.id}}" 
                         style="inset-inline-start: {{this.position}}%; top: {{this.top}}px;"
                         data-tooltip="{{this.label}} ({{this.delay}}s)">
                        <span class="block-label">{{this.label}}</span>
                    </div>
                {{/each}}
            </div>
        </div>

        {{!-- AUDIO TRACK --}}
        <div class="timeline-track audio-track">
            <div class="track-header" data-tooltip="{{localize 'VISAGE.Editor.Groups.Audio'}}">
                <i class="visage-icon audio"></i>
            </div>
            <div class="track-lanes" style="height: {{audioHeight}}px;">
                {{#each audioEffects}}
                    <div class="timeline-block" 
                         data-id="{{this.id}}" 
                         style="inset-inline-start: {{this.position}}%; top: {{this.top}}px;"
                         data-tooltip="{{this.label}} ({{this.delay}}s)">
                        <span class="block-label">{{this.label}}</span>
                    </div>
                {{/each}}
            </div>
        </div>

        {{!-- THE PLAYHEAD / ZERO ANCHOR LINE --}}
        <div class="zero-anchor-line" style="inset-inline-start: {{zeroPosition}}%;"></div>

    </div>

    {{!-- THE RULER (Time Markers) --}}
    <div class="timeline-ruler">
        <div class="ruler-ticks">
            {{#each ticks}}
                <div class="tick bottom {{#if this.isZero}}zero-anchor{{/if}}" style="inset-inline-start: {{this.position}}%;">
                    <span class="tick-label bottom">{{this.label}}</span>
                </div>
            {{/each}}
        </div>
    </div>
</div>