<div class="window-content visage-scrollable">
    <div class="visage-selector-header">
        <i class="visage-icon domino"></i>
        <h3 class="visage-title">{{localize "VISAGE.Selector.Title"}}</h3>
        <button type="button" class="visage-config-button" data-tooltip="{{localize 'VISAGE.Selector.TogglePublic'}}" data-action="toggleGlobal">
            <i class="visage-icon {{#if showPublic}}toggle_on{{else}}toggle_off{{/if}}"></i>
        </button>
        <button type="button" class="visage-config-button" data-tooltip="{{localize 'VISAGE.Selector.Configure'}}" data-action="openConfig">
            <img src="modules/visage/icons/settings.svg" alt="{{localize 'VISAGE.Selector.Configure'}}"/>
        </button>
    </div>

    {{!-- Injected Partials --}}
    {{> "modules/visage/templates/parts/visage-active-stack.hbs" activeStack=activeStack}}
    {{> "modules/visage/templates/parts/visage-local-grid.hbs" identities=identities overlays=overlays}}
</div>