<div class="visage-config-container">
    <div class="visage-config-wrapper">
        
        <p class="visage-notes">{{localize "VISAGE.RingConfig.Hint"}}</p>

        {{!-- Enable Toggle --}}
        <div class="form-group">
            <label>{{localize "VISAGE.RingConfig.Enabled"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="enabled" {{checked enabled}}/>
            </div>
        </div>

        {{!-- Subject Fieldset --}}
        <fieldset class="visage-ring-fieldset">
            <legend>{{localize "VISAGE.RingConfig.Group.Subject"}}</legend>

            <div class="form-group">
                <label>{{localize "VISAGE.RingConfig.SubjectTexture"}}</label>
                <div class="form-fields">
                    {{filePicker type="image" target="subjectTexture"}}
                    <input type="text" name="subjectTexture" value="{{subject.texture}}" placeholder="{{localize 'VISAGE.RingConfig.Placeholder.Inherit'}}">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "VISAGE.RingConfig.SubjectScale"}}</label>
                <div class="form-fields">
                    {{rangePicker name="subjectScale" value=subject.scale min=0.5 max=3.0 step=0.05}}
                </div>
            </div>
        </fieldset>

        {{!-- Colors Fieldset --}}
        <fieldset class="visage-ring-fieldset">
            <legend>{{localize "VISAGE.RingConfig.Group.Colors"}}</legend>

            <div class="form-group color-group">
                <label>{{localize "VISAGE.RingConfig.RingColor"}}</label>
                <div class="form-fields">
                    {{colorPicker name="ringColor" value=colors.ring}}
                </div>
            </div>

            <div class="form-group color-group">
                <label>{{localize "VISAGE.RingConfig.BackgroundColor"}}</label>
                <div class="form-fields">
                    {{colorPicker name="backgroundColor" value=colors.background}}
                </div>
            </div>
        </fieldset>

        {{!-- Effects Fieldset --}}
        <fieldset class="visage-ring-fieldset">
            <legend>{{localize "VISAGE.RingConfig.Effects.Label"}}</legend>
            
            <div class="form-group stacked">
                <div class="form-fields">
                    {{#each effects}}
                    <label class="checkbox">
                        <input type="checkbox" name="effect_{{this.value}}" {{checked this.isActive}}>
                        {{localize this.label}}
                    </label>
                    {{/each}}
                </div>
            </div>
        </fieldset>

    </div>

    <footer class="visage-ring-footer">
        <button type="submit" class="visage-save" data-action="save">
            <i class="fas fa-check"></i> {{localize "VISAGE.RingConfig.Apply"}}
        </button>
    </footer>
</div>