<div class="window-content">
    <div class="visage-selector-header">
        <h3 class="visage-title">{{localize "VISAGE.Selector.Title"}}</h3>
        <button type="button" class="visage-config-button" data-tooltip="{{localize 'VISAGE.Selector.Configure'}}" data-action="openConfig">
            <img src="modules/visage/icons/settings.svg" alt="Settings"/>
        </button>
    </div>

    {{!-- Global Stack List --}}
    {{#if activeStack.length}}
    <div class="visage-stack-list">
        <div class="stack-header">{{localize "VISAGE.Selector.ActiveEffects"}}</div>
        <ul>
            {{#each activeStack}}
            <li class="stack-item">
                <span class="effect-label" data-tooltip="{{this.label}}">
                    <i class="fas fa-layer-group"></i> {{this.label}}
                </span>
                <button type="button" class="remove-layer-btn" 
                        data-action="removeLayer" 
                        data-layer-id="{{this.id}}"
                        data-tooltip="Remove Effect">
                    <i class="fas fa-times"></i>
                </button>
            </li>
            {{/each}}
        </ul>
        <button type="button" class="revert-all-btn" data-action="revertGlobal">
            {{localize "VISAGE.Selector.ClearAll"}}
        </button>
    </div>
    {{/if}}

    <div class="visage-selector-grid-wrapper">
        <div class="visage-selector">
            {{#each forms}}

            <div class="visage-tile {{#if this.isActive}}active{{/if}}" 
                 data-action="selectVisage" 
                 data-form-key="{{this.key}}"
                 tabindex="0" 
                 role="button" 
                 aria-label="{{this.name}}" 
                 aria-pressed="{{this.isActive}}">
 
                <div class="visage-image-wrapper">
                    {{!-- Pass 'visage-hud-content' to override the default class --}}
                    {{> "modules/visage/templates/parts/visage-preview.hbs" this wrapperClass="visage-hud-content"}}
                </div>

                <span class="visage-tile-name" data-tooltip="{{this.name}}">{{this.name}}</span>
                
                {{#if this.isActive}}
                <div class="visage-chip" data-tooltip="{{localize 'VISAGE.Selector.Active'}}">
                     <img src="modules/visage/icons/check_circle.svg" alt="{{localize 'VISAGE.Selector.Active'}}"/>
                </div>
                {{/if}}
                
                {{#if this.isDefault}}
                <div class="visage-default-indicator" data-tooltip="{{localize 'VISAGE.Selector.Default'}}">
                     <img src="modules/visage/icons/stars.svg" alt="{{localize 'VISAGE.Selector.Default'}}"/>
                </div>
                {{/if}}
                
                {{#if this.showFlipBadge}}
                <div class="visage-flip-indicator" data-tooltip="{{localize 'VISAGE.Selector.Flipped'}}">
                     <img src="modules/visage/icons/flip.svg" alt="{{localize 'VISAGE.Selector.Flipped'}}"/>
                </div>
                {{/if}}

                {{#if this.showDataChip}}
                <div class="visage-data-chip">
                    {{#if this.sizeLabel}}
                    <span class="visage-size-value" style="font-weight: bold;">{{this.sizeLabel}}</span>
                    {{/if}}
                    
                    {{#if this.scaleLabel}}
                    <span class="visage-scale-value">{{this.scaleLabel}}</span>
                    {{/if}}
                </div>
                {{/if}}

                {{#if this.isWildcard}}
                <div class="visage-wildcard-indicator" data-tooltip="{{localize 'VISAGE.Selector.Wildcard'}}">
                     <img src="modules/visage/icons/shuffle.svg" alt="{{localize 'VISAGE.Selector.WildcardAlt'}}"/>
                </div>
                {{/if}}

                {{#if this.showDispositionChip}}
                <div class="visage-disposition-chip {{this.dispositionClass}}" data-tooltip="{{this.dispositionName}}">
                     <span>{{this.dispositionName}}</span>
                </div>
                {{/if}}

            </div>
            {{/each}}
        </div>
    </div>
</div>