<div class="window-content visage-scrollable">
    <div class="visage-selector-header">
        <i class="visage-icon domino"></i>
        <h3 class="visage-title">{{localize "VISAGE.Selector.Title"}}</h3>
        <button type="button" class="visage-config-button" data-tooltip="{{localize 'VISAGE.Selector.TogglePublic'}}" data-action="toggleGlobal">
            <i class="visage-icon {{#if showPublic}}toggle_on{{else}}toggle_off{{/if}}"></i>
        </button>
        <button type="button" class="visage-config-button" data-tooltip="{{localize 'VISAGE.Selector.Configure'}}" data-action="openConfig">
            <img src="modules/visage/icons/settings.svg" alt="{{localize 'VISAGE.Selector.Configure'}}"/>
        </button>
    </div>

    {{!-- Global Stack List --}}
    {{#if activeStack.length}}
    <div class="visage-stack-list">
        <div class="stack-header">{{localize "VISAGE.Selector.ActiveEffects"}}</div>
        <ul class="visage-sortable-list">
            {{#each activeStack}}
            <li class="stack-item {{this.themeClass}} {{#if this.disabled}}visage-disabled{{/if}}" 
                draggable="true" 
                data-layer-id="{{this.id}}">
                
                {{!-- Drag Handle --}}
                <div class="drag-handle" data-tooltip="{{localize 'VISAGE.Selector.DragToReorder'}}">
                    <i class="visage-icon kebab"></i> 
                </div>

                {{!-- Visibility Toggle --}}
                <button type="button" class="visibility-btn" 
                        data-action="toggleVisibility" 
                        data-layer-id="{{this.id}}"
                        data-tooltip="{{#if this.disabled}}{{localize 'VISAGE.Selector.Show'}}{{else}}{{localize 'VISAGE.Selector.Hide'}}{{/if}}">
                    <i class="visage-icon {{#if this.disabled}}visage-hidden{{else}}visible{{/if}}"></i>
                </button>

                <span class="effect-label" data-tooltip="{{this.label}}">
                    {{this.label}}
                </span>

                <button type="button" class="remove-layer-btn" 
                        data-action="removeLayer" 
                        data-layer-id="{{this.id}}"
                        data-tooltip="{{localize 'VISAGE.Selector.RemoveEffect'}}">
                    <i class="visage-icon close"></i>
                </button>
            </li>
            {{/each}}
        </ul>
        <button type="button" class="revert-all-btn" data-action="revertGlobal">
            {{localize "VISAGE.Selector.ClearAll"}}
        </button>
    </div>
    {{/if}}

    <div class="visage-selector-grid-wrapper visage-scrollable">
        
        {{!-- SECTION 1: IDENTITIES (Gold) --}}
        {{#if identities.length}}
        <div class="visage-section identity-section">
            <h4 class="visage-section-header">
                {{localize "VISAGE.Actions.ApplyIdentity"}}
            </h4>
            <div class="visage-selector">
                {{#each identities}}
                    {{> "modules/visage/templates/parts/visage-tile.hbs" this}}
                {{/each}}
            </div>
        </div>
        {{/if}}

        {{!-- SECTION 2: OVERLAYS (Blue) --}}
        {{#if overlays.length}}
        <div class="visage-section overlay-section">
            <h4 class="visage-section-header">
                {{localize "VISAGE.Actions.ApplyOverlay"}}
            </h4>
            <div class="visage-selector">
                {{#each overlays}}
                    {{> "modules/visage/templates/parts/visage-tile.hbs" this}}
                {{/each}}
            </div>
        </div>
        {{/if}}

    </div>
</div>