<form>
    <div class="visage-config-wrapper">
        <div class="visage-config-pane">
            <p class="visage-notes">
                The default name, image, image scale, and disposition are automatically managed.
                They are sourced from the token's primary settings. If you manually change any of these in the main Token Config window and update the token, the changes will be reflected below when you next view this config.
            </p>

            <div class="visage-defaults-grid">
                <div class="form-group">
                    <label>Default Token Name</label>
                    <div class="form-fields">
                        <span class="visage-readonly-field">{{defaultTokenName}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Default Token Image</label>
                    <div class="form-fields">
                        <span class="visage-readonly-field">{{defaultToken}}</span>
                    </div>
                </div>
            </div>
            
            <fieldset class="visage-config-fieldset">
                <legend>Universal Alternate Visages</legend>
                <p class="visage-notes">If this token is linked to an actor then these visages will be available to all tokens of that actor.</p>
                
                <div class="visage-list-header">
                    <span>Name</span>
                    <span>Image Filepath</span>
                    <span style="text-align: center;">Scale (%)</span>
                    <span style="text-align: center;">Flip</span>
                    <span style="text-align: center;">Disposition</span>
                    <span></span>
                </div>
                
                <ol class="visage-list">
                    {{#each visages}}
                    <li class="visage-list-item" data-uuid="{{this.uuid}}">
                        
                        <input type="text" name="visage-name" value="{{this.name}}" placeholder="Visage Name (e.g. Wolf)" />
                        
                        <div class="visage-path-group form-fields">
                            <input type="text" name="visage-path" value="{{this.path}}" placeholder="path/to/image.webp" />
                            <button type="button" class="file-picker-button"><i class="fas fa-file-import fa-fw"></i></button>
                        </div>
                        
                        <div class="visage-scale-group">
                            <input type="number" name="visage-scale" value="{{this.scale}}" placeholder="100" min="0" max="500" step="5" data-dtype="Number" class="visage-scale-input">
                            <span class="visage-percent-sign">%</span>
                        </div>
             
                        <label class="checkbox visage-flip-label">
                            <input type="checkbox" name="visage-flip-x" {{checked this.isFlippedX}}> 
                        </label>
                   
                        <div class="visage-disposition-cell">
                            <button type="button" class="visage-disposition-button">
                                {{this.dispositionButtonText}}
                            </button>
                            <div class="visage-disposition-popout" style="display: none;">
                                <div class="form-group">
                                    <input type="radio" name="visage-disposition-type-{{@index}}" value="none" {{checked (eq this.dispositionType "none")}} />
                                    <label>Default (No Change)</label>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="visage-disposition-type-{{@index}}" value="disguise" {{checked (eq this.dispositionType "disguise")}} />
                                    <label>Disguise As:</label>
                                    <select name="visage-disposition-value" {{disabled (neq this.dispositionType "disguise")}}>
                                        <option value="1" {{selected (eq this.dispositionValue 1)}}>Friendly</option>
                                        <option value="0" {{selected (eq this.dispositionValue 0)}}>Neutral</option>
                                        <option value="-1" {{selected (eq this.dispositionValue -1)}}>Hostile</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="visage-disposition-type-{{@index}}" value="illusion" {{checked (eq this.dispositionType "illusion")}} />
                                    <label>Illusion (Secret)</label>
                                </div>
                            </div>
                        </div>

                        <a class="visage-delete"><i class="fas fa-trash"></i></a>
                    </li>
                    {{/each}}
                </ol>

                <div class="flexrow visage-add-wrapper">
                    <button type="button" class="visage-add"><i class="fas fa-plus"></i> Add Visage</button>        
                </div>
            </fieldset>
        </div>
    </div>

    <footer class="visage-config-footer">
        <button type="button" class="visage-save {{#if isDirty}}dirty{{/if}}"><i class="fas fa-save"></i> Save Changes</button>
    </footer>
</form>