<div class="visage visage-chat-card visage-theme-global">
    <header class="chat-header">
        <i class="visage-icon domino"></i>
        <h3 class="visage-title">{{localize "VISAGE.Chat.Welcome.Title" version=version}}</h3>
    </header>
    <div class="chat-content">
        <p>{{localize "VISAGE.Chat.Welcome.Description"}}</p>
        <div class="visage-divider"></div>
        <nav class="visage-chat-links">
            <a href="https://foundryvtt.com/packages/visage" title="{{localize 'VISAGE.Chat.Links.Foundry'}}">
                <i class="fas fa-external-link-alt"></i>&nbsp;&nbsp; {{localize "VISAGE.Chat.Links.Project"}}
            </a>
            <a href="https://github.com/Filroden/visage/blob/main/VERSION.md" title="{{localize 'VISAGE.Chat.Links.Changelog'}}">
                <i class="fas fa-history"></i>&nbsp;&nbsp; {{localize "VISAGE.Chat.Links.Releases"}}
            </a>
            <a href="https://github.com/Filroden/visage/wiki" title="{{localize 'VISAGE.Chat.Links.Wiki'}}">
                <i class="fas fa-book"></i>&nbsp;&nbsp; {{localize "VISAGE.Chat.Links.Docs"}}
            </a>
            <a href="https://github.com/Filroden/visage/discussions" title="{{localize 'VISAGE.Chat.Links.Community'}}">
                <i class="fas fa-comments"></i>&nbsp;&nbsp; {{localize "VISAGE.Chat.Links.Chat"}}
            </a>
        </nav>
    </div>
</div>