<div class="visage-preview-content {{wrapperClass}} {{#if hasInvisibility}}invisible{{/if}}">
        
    {{!-- 1. LIGHT SOURCE --}}
    {{#if hasLight}}
    <div class="visage-light-overlay {{#if lightAnimType}}anim-active anim-{{lightAnimType}}{{/if}}"
         style="
            width: {{lightSizePct}}%; 
            height: {{lightSizePct}}%; 
            --visage-light-color: {{lightColor}};
            --visage-intensity: {{lightAnimIntensity}};
            --visage-angle: {{lightAngle}}deg;
            background: radial-gradient(circle closest-side, {{lightColor}} 0%, {{lightColor}} {{lightBrightPct}}%, transparent 100%);
            -webkit-mask: conic-gradient(from calc(180deg + {{lightRotation}}deg) at 50% 50%, 
                transparent calc(180deg - var(--visage-angle)/2), 
                black calc(180deg - var(--visage-angle)/2), 
                black calc(180deg + var(--visage-angle)/2), 
                transparent calc(180deg + var(--visage-angle)/2)
            );
            mask: conic-gradient(from calc(180deg + {{lightRotation}}deg) at 50% 50%, 
                transparent calc(180deg - var(--visage-angle)/2), 
                black calc(180deg - var(--visage-angle)/2), 
                black calc(180deg + var(--visage-angle)/2), 
                transparent calc(180deg + var(--visage-angle)/2)
            );
            animation-duration: {{lightAnimDuration}};
            opacity: {{lightAlpha}};
         ">
    </div>
    {{/if}}

    {{!-- 2. BACKGROUND EFFECTS --}}
    {{#each effectsBelow}}
        {{#if this.resolvedPath}}
            {{#if this.isVideo}}
            <video class="visage-effect-layer below" src="{{this.resolvedPath}}" autoplay {{#if this.loop}}loop{{/if}} muted style="{{this.style}}"></video>
            {{else}}
            <img class="visage-effect-layer below" src="{{this.resolvedPath}}" style="{{this.style}}">
            {{/if}}
        {{/if}}
    {{/each}}

    {{!-- 3. DYNAMIC RING (Background) --}}
    {{#if hasRing}}
    <div class="visage-ring-preview {{#if hasPulse}}pulse{{/if}} {{#if hasGradient}}gradient{{/if}} {{#if hasWave}}wave{{/if}}"
         style="--ring-color: {{ringColor}}; --ring-bkg: {{ringBkg}};">
        <div class="ring-band outer"></div>
        <div class="ring-band inner"></div>
    </div>
    {{/if}}

    {{!-- 4. MAIN TOKEN IMAGE --}}
    <div class="visage-token-layer" style="opacity: {{alpha}};">
        
        {{#if resolvedPath}}
            {{#if isVideo}}
            <video class="visage-preview-video" src="{{resolvedPath}}" autoplay loop muted 
                   style="transform: scale({{#if forceFlipX}}-1{{else}}1{{/if}}, {{#if forceFlipY}}-1{{else}}1{{/if}});"></video>
            {{else}}
            <img class="visage-preview-img" src="{{resolvedPath}}" 
                 style="transform: scale({{#if forceFlipX}}-1{{else}}1{{/if}}, {{#if forceFlipY}}-1{{else}}1{{/if}});">
            {{/if}}
        {{/if}}
        
        {{!-- Fallback Icon --}}
        <div class="visage-icon-domino fallback-icon" style="{{#if resolvedPath}}display:none;{{/if}}"></div>
    </div>

    {{!-- 5. FOREGROUND EFFECTS --}}
    {{#each effectsAbove}}
        {{#if this.resolvedPath}}
            {{#if this.isVideo}}
            <video class="visage-effect-layer above" src="{{this.resolvedPath}}" autoplay {{#if this.loop}}loop{{/if}} muted style="{{this.style}}"></video>
            {{else}}
            <img class="visage-effect-layer above" src="{{this.resolvedPath}}" style="{{this.style}}">
            {{/if}}
        {{/if}}
    {{/each}}
    
</div>