<div class="visage-preview-content {{wrapperClass}} {{#if hasInvisibility}}invisible{{/if}}">
    
    {{!-- 1. BACKGROUND EFFECTS --}}
    {{#each effectsBelow}}
        {{#if this.resolvedPath}}
            {{#if this.isVideo}}
            <video class="visage-effect-layer below" src="{{this.resolvedPath}}" autoplay {{#if this.loop}}loop{{/if}} muted style="{{this.style}}"></video>
            {{else}}
            <img class="visage-effect-layer below" src="{{this.resolvedPath}}" style="{{this.style}}">
            {{/if}}
        {{/if}}
    {{/each}}

    {{!-- 2. DYNAMIC RING (Background) --}}
    {{#if hasRing}}
    <div class="visage-ring-preview {{#if hasPulse}}pulse{{/if}} {{#if hasGradient}}gradient{{/if}} {{#if hasWave}}wave{{/if}}"
         style="--ring-color: {{ringColor}}; --ring-bkg: {{ringBkg}};">
        <div class="ring-band outer"></div>
        <div class="ring-band inner"></div>
    </div>
    {{/if}}

    {{!-- NEW: LIGHT SOURCE PREVIEW --}}
    {{#if hasLight}}
    <div class="visage-light-overlay"
         style="--light-color: {{lightColor}}; --light-dim: {{lightDim}}; --light-bright: {{lightBright}};">
    </div>
    {{/if}}

    {{!-- 3. MAIN TOKEN IMAGE --}}
    <div class="visage-token-layer" style="opacity: {{alpha}};">
        
        {{#if resolvedPath}}
            {{#if isVideo}}
            <video class="visage-preview-video" src="{{resolvedPath}}" autoplay loop muted 
                   style="transform: scale({{#if forceFlipX}}-1{{else}}1{{/if}}, {{#if forceFlipY}}-1{{else}}1{{/if}});"></video>
            {{else}}
            <img class="visage-preview-img" src="{{resolvedPath}}" 
                 style="transform: scale({{#if forceFlipX}}-1{{else}}1{{/if}}, {{#if forceFlipY}}-1{{else}}1{{/if}});">
            {{/if}}
        {{/if}}
        
        {{!-- Fallback Icon --}}
        <div class="visage-icon-domino fallback-icon" style="{{#if resolvedPath}}display:none;{{/if}}"></div>
    </div>

    {{!-- 4. FOREGROUND EFFECTS --}}
    {{#each effectsAbove}}
        {{#if this.resolvedPath}}
            {{#if this.isVideo}}
            <video class="visage-effect-layer above" src="{{this.resolvedPath}}" autoplay {{#if this.loop}}loop{{/if}} muted style="{{this.style}}"></video>
            {{else}}
            <img class="visage-effect-layer above" src="{{this.resolvedPath}}" style="{{this.style}}">
            {{/if}}
        {{/if}}
    {{/each}}
    
</div>